<xml>
<title>
Treasure Hunt in Edinburgh Academy
</title>
<!-- route>
    <name>Route 1</name>
    <steps>
	<step>
		<name>R1_Introduction</name>
		<text>Hello explorers! Welcome to the Geits Treasure Hunt.</text>
		<gesture>idle</gesture>
	</step>
	<step>
		<name>R1_LocatingStartPoint</name>
		<text>Your hunt starts at the pedestrian gate entrance to the Main Yard by the Janitor's Lodge. First, let's get there.</text>
		<gesture></gesture>
	</step>	
	<step>
		<name>R1_C1</name>
		<text>From the pedestrian gate entrance to the Main Yard by the Janitor's Lodge, turn west and pace 30 metres along the footpath on the north side of Henderson Row.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the colour of the front door of number 72 Henderson Row?</text>
			<answer>
			    <item id="1" correct="yes">Red</item>
				<item id="2">Yellow</item>
				<item id="3">Green</item>
				<item id="4">Blue</item>
			</answer>
			<gesture></gesture>
		</question>		
	</step>
	<step>
		<name>R1_C11</name>
		<text>Now walk toward the main gate of Edinburgh Academy.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the age of the building at Number 81 Henderson Row?</text>
			<answer>
				<item id="1">1776</item>
				<item id="2" correct="yes">1871</item>
				<item id="3">1508</item>
				<item id="4">1817</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	<step>
		<name>R1_CloseTask</name>
		<text>Well done!  You have completed your treasure hunt. Now return to your geography classroom.</text>
		<gesture></gesture>
	</step>	
	</steps>
</route-->

<route>
    <name>Route 1</name>
    <steps>
	<step>
		<name>R1_Introduction</name>
		<text>Hello explorers! Welcome to the Geits Treasure Hunt.</text>
		<gesture>idle</gesture>
	</step>
	<step>
		<name>R1_LocatingStartPoint</name>
		<text>Your hunt starts at the pedestrian gate entrance to the Main Yard by the Janitor's Lodge. First, let's get there.</text>
		<gesture></gesture>
	</step>	
	<step>
		<name>R1_C1</name>
		<text>From the pedestrian gate entrance to the Main Yard by the Janitor's Lodge, turn west and pace 50 metres along the footpath on the north side of Henderson Row.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is on the pavement?</text>
			<answer>
			    <item id="1" correct="yes">A post box</item>
				<item id="2">A telephone booth</item>
				<item id="3">A cash machine</item>
				<item id="4">A statue</item>
			</answer>
			<gesture></gesture>
		</question>
		<question>
			<name></name>
			<text>What initials are on it?</text>
			<answer>
				<item id="1">G. B. P</item>
				<item id="2">R. M.</item>
				<item id="3">Q. E. D.</item>
				<item id="4" correct="yes">G. R.</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What is the collection time on Saturday?</text>
			<answer>
				<item id="1">13:15</item>
				<item id="2" correct="yes">12:30</item>
				<item id="3">11:00</item>
				<item id="4">9:45</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>
	<step>
		<name>R1_C2</name>
		<text>Carry on walking in the same direction and cross at the pedestrian crossing opposite Stockbridge Primary School. Wait for the Green Man before crossing. Cross over, turn left and then turn right onto Clarence Street.</text>		
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the colour of the front door of Number 20 Clarence Street?</text>
			<answer>
				<item id="1">Red</item>
				<item id="2" correct="yes">Yellow</item>
				<item id="3">Green</item>
				<item id="4">White</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>In what direction were you walking up Clarence Street?</text>
			<answer>
				<item id="1">West</item>
				<item id="2">North</item>
				<item id="3" correct="yes">South East</item>
				<item id="4">South West</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	<step>
		<name>R1_C3</name>
		<text>At the southern end of Clarence Street, turn east into Saint Stephen Street.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the land use of the ground floor of Number 112 Saint Stephen Street?</text>
			<answer>
				<item id="1">Saloon</item>
				<item id="2">Nursery</item>
				<item id="3">Pub</item>
				<item id="4" correct="yes">Restaurant</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What is the land use of the upper floors of the same building?</text>
			<answer>
				<item id="1" correct="yes">Residential</item>
				<item id="2">Mall</item>
				<item id="3">Office</item>
				<item id="4">Clinic</item>
			</answer>
			<gesture></gesture>
		</question>
	</step>	
	<step>
		<name>R1_C4</name>
		<text>Keep going east along Saint Stephen Street. Stop at the junction between Saint Stephen Street and West Silvermills Lane. </text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>Look south east. What building do you see at the end of Saint Stephen Street on the corner?</text>
			<answer>
				<item id="1">Museum</item>
				<item id="2" correct="yes">Church</item>
				<item id="3">Information center</item>
				<item id="4">Shopping mall</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What is the OS Map symbol for this type of building?</text>
			<answer isImage="true">
				<item id="1">information</item>
				<item id="2">garden</item>
				<item id="3" correct="yes">church</item>
				<item id="4">museum</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>
	<step>	
		<name>R1_C5</name>
		<text>Stop at the top of West Silvermills Lane for a moment longer.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the road surface made of?</text>
			<answer>
				<item id="1">Stones</item>
				<item id="2" correct="yes">Cobbles</item>
				<item id="3">Asphalt</item>
				<item id="4">Cement</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What grid square are you now in?</text>
			<answer>
				<item id="1" correct="yes">49 11</item>
				<item id="2">50 14</item>
				<item id="3">49 12</item>
				<item id="4">48 13</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	<step>
		<name>R1_C6</name>
		<text>Follow West Silvermills Lane down the slope for 80 metres and stop at the corner as you enter Grid square 48 11. </text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the main land use of this area?</text>
			<answer>
				<item id="1">Mall</item>
				<item id="2">Playground</item>
				<item id="3" correct="yes">Residential</item>
				<item id="4">Market</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What do you think the main land use of this area was in the past (about 100 years ago)?</text>
			<answer>
				<item id="1">Factory</item>
				<item id="2">Market</item>
				<item id="3">Park</item>
				<item id="4" correct="yes">Tanneries</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R1_C7</name>
		<text>Turn right into Silvermills and go along this road.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the statue on the corner called?</text>
			<answer>
				<item id="1" correct="yes">Horse, Rider, Eagle</item>
				<item id="2">Statue of Hygieia</item>
				<item id="3">Lincoln Statue</item>
				<item id="4">James Watt</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>In which direction were you walking on Silvermills road?</text>
			<answer>
				<item id="1">West</item>
				<item id="2" correct="yes">East</item>
				<item id="3">North</item>
				<item id="4">South</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R1_C8</name>
		<text>Turn left and walk along Henderson Place Lane. The road then turns towards the east.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>How much does one hour parking cost on this street?</text>
			<answer>
				<item id="1" correct="yes">£1.60</item>
				<item id="2">£2.00</item>
				<item id="3">£2.50</item>
				<item id="4">£3.00</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R1_C9</name>
		<text>Turn north onto Henderson Place then east onto Henderson Row. Continue east to the traffic lights at Dundas Street. Cross to the north side of Henderson Row.</text>
		<gesture></gesture>	
	</step>
		
	<step>
		<name>R1_C10</name>
		<text>You must cross Henderson Row using the Pedestrian Crossing. Wait for the Green Man before crossing.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>I have a paper task for you now. On the sheet of paper, you now need to complete a simple land-use map of the ground floor uses of the buildings on the south side of Henderson Row that you have just walked past to get to the traffic lights.</text>
			<answer></answer>
			<gesture></gesture>
		</question>
	</step>	
		
	<step>
		<name>R1_C11</name>
		<text>Now walk west toward the Edinburgh Academy and stop by the main gate.</text>
		<gesture></gesture>
		<!-- question>
			<name></name>
			<text>What is the age of the building at Number 81 Henderson Row?</text>
			<answer>
				<item id="1">1776</item>
				<item id="2" correct="yes">1871</item>
				<item id="3">1508</item>
				<item id="4">1817</item>
			</answer>
			<gesture></gesture>
		</question-->	
	</step>	
	<step>
		<name>R1_CloseTask</name>
		<text>Well done!  You have completed your treasure hunt. Now return to your geography classroom.</text>
		<gesture></gesture>
	</step>	
	</steps>
</route>

<!-- route>
    <name>Route 2</name>
    <steps>
	<step>
		<name>R2_Introduction</name>
		<text>Hello explorers! Welcome to the Edinburgh Academy Annual Treasure Hunt. Use your map skills to follow the route and find the clues. Good luck!</text>
		<gesture>idle</gesture>
	</step>
	
	<step>
		<name>R2_LocatingStartPoint</name>
		<text>Your hunt starts at the pedestrian gate entrance to the Main Yard by the Janitor's Lodge. First, let's get there.</text>
		<gesture></gesture>
	</step>	
	
	<step>
		<name>R2_C1</name>
		<text>From the pedestrian gate entrance to the Main Yard by the Janitor's Lodge, turn east and pace 25 metres along the footpath on the north side of Henderson Row.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the age of the building across the road at Number 81 Henderson Row?</text>
			<answer>
				<item id="1">1776</item>
				<item id="2" correct="yes">1871</item>
				<item id="3">1508</item>
				<item id="4">1817</item>
			</answer>
			<gesture></gesture>
		</question>
	</step>
	
	<step>
		<name>R2_C1_1</name>
		<text>Continue east along Henderson Row and stop outside Number 6 Henderson Row.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>I have a paper task for you now. On the sheet of paper, you need to complete a simple land-use map of the ground floor use of buildings on the south side of Henderson Row from "Lezzetli" to "New Town Deli".</text>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_C1_2</name>
		<text>Cross to the south side of Henderson Row. You must cross Henderson Row using the Pedestrian Crossing - wait for the Green Man before crossing.</text>
		<gesture></gesture>
	</step>	
	
 	<step>
		<name>R2_C2</name>
		<text>Walk west along Henderson Row then south into Henderson Place then west into Henderson Place Lane.</text>		
		<gesture></gesture>
		<question>
			<name></name>
			<text>How much does 1 hour parking cost on this street?</text>
			<answer>
				<item id="1" correct="yes">£1.60</item>
				<item id="2">£2.00</item>
				<item id="3">£2.50</item>
				<item id="4">£3.00</item>
			</answer>
			<gesture></gesture>
		</question>			
	</step>	
	
	<step>
		<name>R2_C3</name>
		<text>Continue west along to the end of Henderson Place Lane and follow it south until it meets Silvermills.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the statue on the corner called?</text>
			<answer>
				<item id="1" correct="yes">Horse, Rider, Eagle</item>
				<item id="2">Statue of Hygieia</item>
				<item id="3">Lincoln Statue</item>
				<item id="4">James Watt</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>Which housing developer built these homes?</text>
			<answer>
				<item id="1">Barratt Homes</item>
				<item id="2">David Wilson Homes</item>
				<item id="3" correct="yes">Cala Homes</item>
				<item id="4">Redrow Homes</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_C4</name>
		<text>Walk west along Silvermills towards West Silvermills Lane. Stop at the junction of these 2 roads.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the main land use of this area?</text>
			<answer>
				<item id="1">Mall</item>
				<item id="2">Playground</item>
				<item id="3"  correct="yes">Residential</item>
				<item id="4">Market</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What do you think the main land use of this area was in the past (about 100 years ago)?</text>
			<answer>
				<item id="1">Factory</item>
				<item id="2">Market</item>
				<item id="3">Park</item>
				<item id="4" correct="yes">Tanneries</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_C5</name>
		<text>Turn south into West Silvermills Lane (use the map as there are no street signs here) and stop on the bend as it turns south east.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the road surface made of?</text>
			<answer>
				<item id="1">Stones</item>
				<item id="2" correct="yes">Cobbles</item>
				<item id="3">Asphalt</item>
				<item id="4">Cement</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What grid square are you now in?</text>
			<answer>
				<item id="1" correct="yes">48 11</item>
				<item id="2">50 14</item>
				<item id="3">46 12</item>
				<item id="4">48 12</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_C6</name>
		<text>Now follow West Silvermills Lane Uphill until it joins Saint Stephen Street. Walk west along the north side of Saint Stephen Street and stop across from Number 112.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What do you think the ground floor of Number 112 Saint Stephen Street used to be used for?</text>
			<answer>
				<item id="1">Saloon</item>
				<item id="2">Nursery</item>
				<item id="3">Pub</item>
				<item id="4" correct="yes">Restaurant</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What is the land use of the upper floors of the same building?</text>
			<answer>
				<item id="1" correct="yes">Residential</item>
				<item id="2">Mall</item>
				<item id="3">Office</item>
				<item id="4">Clinic</item>
			</answer>
			<gesture></gesture>
		</question>
	</step>	
	
	<step>
		<name>R2_C7</name>
		<text>Turn north west into Clarence Street. Pace 50 metres along Clarence Street.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the colour of the front door of Number 20 Clarence street?</text>
			<answer>
				<item id="1">Red</item>
				<item id="2" correct="yes">Yellow</item>
				<item id="3">Green</item>
				<item id="4">White</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What permit parking zone is this street?</text>
			<answer>
				<item id="1" correct="yes">5A</item>
				<item id="2">1A</item>
				<item id="3">N5</item>
				<item id="4">S1</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_C7_1</name>
		<text>Continue north west along Clarence Street then turn south west and walk along the south side of Hamilton Place.</text>
		<gesture></gesture>
	</step>	
	
	<step>
		<name>R2_C8</name>
		<text>Your next clue will be given to you in Ronde Bicycle Shop. Be polite, wait your turn and then explain to a member of staff that you are on the Edinburgh Academy treasure hunt and you need a clue. They will give you a piece of paper with the next clue on it.</text>
		<gesture></gesture>
	</step>	
	
	<step>
		<name>R2_C8_1</name>
		<text>Now cross to the north side of Hamilton Place. You must cross Hamilton Place using the Pedestrian crossing. Wait for the Green Man before crossing.</text>
		<gesture></gesture>
	</step>	
	
	<step>
		<name>R2_C9</name>
		<text>Walk south west along Hamilton Place to the library.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What time does the library open on Monday?</text>
			<answer>
				<item id="1">9 am</item>
				<item id="2">12 noon</item>
				<item id="3"  correct="yes">1 pm</item>
				<item id="4">10 am</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_C10</name>
		<text>Continue south west along Hamilton Place then turn north into Dean Bank Lane. Cross the lane and find Number 9.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>Why would you visit number 9 Dean Bank Lane?</text>
			<answer>
				<item id="1" correct="yes">Dentist</item>
				<item id="2">Barber</item>
				<item id="3">Doctor</item>
				<item id="4">Veterinarian</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_C11</name>
		<text>Walk north along Dean Bank Lane and as the road starts to bend to the north east, stop outside Number 10.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is the name of the company at Number 10 Dean Bank Lane?</text>
			<answer>
				<item id="1">St. Bernard's, Son and Co.</item>
				<item id="2">Morgan and Son Limited</item>
				<item id="3">Stockbridge Bridal</item>
				<item id="4" correct="yes">M. J. Brown, Son and Co.</item>
			</answer>
			<gesture></gesture>
		</question>
	</step>	
		
	<step>
		<name>R2_C11_1</name>
		<text>Continue along the lane and turn north west into Saxe Coburg Place. Stop across the road from Number 1 Saxe Coburg Place.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>Chance to win a PRIZE! On the sheet of paper in the red box, draw a field sketch to show the main features of the building at number 1 Saxe Coburg Terrace. Make sure you add relevant labels to point out the main features.</text>
			<answer></answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_C12</name>
		<text>Continue along Saxe Coburg Place to Glenogle Baths and stop outside.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What colour is the chimney?</text>
			<answer>
				<item id="1" correct="yes">Red/Orange</item>
				<item id="2">Blue</item>
				<item id="3">Green</item>
				<item id="4">Grey</item>
			</answer>
			<gesture></gesture>
		</question>	
		
		<question>
			<name></name>
			<text>What is the chimney made of?</text>
			<answer>
				<item id="1">Wood</item>
				<item id="2">Steel</item>
				<item id="3"  correct="yes">Brick</item>
				<item id="4">Asphalt</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_C13</name>
		<text>Walk along the north side of Saxe Coburg Place.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What  is the main land use in the bottom half of grid square 46 13?</text>
			<answer>
				<item id="1">Church</item>
				<item id="2">Office</item>
				<item id="3">Dental Surgery</item>
				<item id="4" correct="yes">Park/Garden</item>
			</answer>
			<gesture></gesture>
		</question>
	</step>	
	
	<step>
		<name>R2_C14</name>
		<text>Continue along into grid square 47 12 (Saxe Coburg Street). Stop outside the building labelled X on your map.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What building is at X on your map?</text>
			<answer>
				<item id="1" correct="yes">Stockbridge Parish Church</item>
				<item id="2">Stockbridge Library</item>
				<item id="3">Stockbridge Market</item>
				<item id="4">Stockbridge Mall</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What is the map symbol for this?</text>
			<answer isImage="true">
				<item id="1">information</item>
				<item id="2">garden</item>
				<item id="3" correct="yes">church</item>
				<item id="4">museum</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
		
	<step>
		<name>R2_C15</name>
		<text>Now walk south east towards Henderson Row and stop at the junction. Now pace 25m and stop outside Number 62 Henderson Row.</text>
		<gesture></gesture>
		<question>
			<name></name>
			<text>What is on the pavement ?</text>
			<answer>
				<item id="1" correct="yes">A post box</item>
				<item id="2">A telephone booth</item>
				<item id="3">A cash machine</item>
				<item id="4">A statue</item>
			</answer>
			<gesture></gesture>
		</question>
		<question>
			<name></name>
			<text>What initials are on it?</text>
			<answer>
				<item id="1">G. B. P</item>
				<item id="2">R. M.</item>
				<item id="3">Q. E. D.</item>
				<item id="4" correct="yes">G. R.</item>
			</answer>
			<gesture></gesture>
		</question>	
		<question>
			<name></name>
			<text>What is the collection time on Saturday?</text>
			<answer>
				<item id="1">13:15</item>
				<item id="2" correct="yes">12:30</item>
				<item id="3">11:00</item>
				<item id="4">9:45</item>
			</answer>
			<gesture></gesture>
		</question>	
	</step>	
	
	<step>
		<name>R2_CloseTask</name>
		<text>Well done!  You have completed you treasure hunt. Now return to your classroom.</text>
		<gesture></gesture>
	</step>	
	</steps>
</route-->
</xml>